@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
@import url('https://fonts.googleapis.com/css?family=Oswald');
/*main font*/ 
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: 'Roboto', sans-serif;
}


#accordionDiv{
  margin-top: 1.5em;
}

.accordion {
    background-color: #f2f2f2;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2em;
    transition: 0.4s;
    margin-bottom: 2px;
    border-radius: 5px;
}

.active, .accordion:hover {
    background-color: #d6d6d6;
}

.panel {
    padding: 0 0 0 28px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

.btn.btn-secondary.status-btn-active {
  background-color: #4a5056;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*Login and Register pages*/
/*.login-btn, .register-btn{
  width: 98px !important;
}
*/
#mosquito-login-logo{
  height: 1.3em;
  margin-right: 7px;
}

#mosquito-text-brand{
  font-family: 'Black Ops One', cursive;
  color: #122752;
}

#login-title-area{
  background-color: #122752;
}

#login-title-area h3{
  color: white;
  font-family: 'Oswald', sans-serif;
}

#submit, #registration{
  padding: 6px 25px;
  margin: 15px;
  letter-spacing: .8px;
   font-weight: bold;
}

#registration{
  background-color: #9C3436;
  color: #EBD89E;
  padding: 6px 21px;
}

#submit{
  background-color: #30A98D;
  border-color: #30A98D;
  color: white;
}
/*Header*/

.nav-icons{
  padding-left: 3em;
  padding-right: 1em;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  font-size: 1.1em;
}

#main-custom-navbar{
  background-color: #122752 !important;
}

.navbar .navbar-nav > li > a {
    color: #0DFFD2;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
}

ul.nav.navbar-nav li a:link {
    line-height: 100%;
    color: red; 
}

#my-work-link, #my-projects-link, #all-projects-link{
  margin-right: 10px;
}

/* active link*/
.navbar-dark .navbar-nav .nav-link.active{
  background-color: #122752;
  padding-bottom: 3px;
  color: #EBD89E/*#bbbcbf*/;
  border-bottom: 3px solid #EBD89E;
}

#mosquito-logo{
  height: 2em;
}

/*change font in navbar-brand*/
.navbar-brand{
  font-family: 'Black Ops One', cursive;
}


/*Add project and task buttons*/
.add-task-btn, .ditails-btn{
  font-weight: bold;
  padding: 4px 9px;
  margin: 5px;
  letter-spacing: .8px;
  float: right;
}
.ditails-btn{
  background-color: #30A98D;
  color: white;
}
.add-task-btn{
  background-color: #9C3436;
  color: #EBD89E;
}

#add-project{
  background-color: #9C3436;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
}

#status-work-btn button{
  background-color: #122752 !important;
  color: white;
}

#status-work-btn button.status-btn-active{
  background-color: #1c3c7d !important;
  color: #EBD89E;
}

/* Modal */
.modal-header{
  background-color: #9C3436;
  color: white;
  font-weight: bold;
}

#add-task-submit, #add-project-submit{
  background-color: #30A98D;
}


/* Footer */
#main-footer{
  background-color: #122752;
  color: white;
  padding-top: 8px;
   font-size: .9em;
   position:absolute;
   bottom:0;
   width:100%;
   height:40px;   /* Height of the footer */
}

#main-footer p{
  text-align: center; 
  margin: auto;
  font-family:  'Black Ops One', cursive;
}

#mosquito-footer-logo{
  height: 1.3em;
}