@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
@import url('https://fonts.googleapis.com/css?family=Oswald');
/*main font*/ 
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: 'Roboto', sans-serif;
}


#accordionDiv{
  margin-top: 1.5em;
}

.accordion {
    background-color: #f2f2f2;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2em;
    transition: 0.4s;
    margin-bottom: 2px;
    border-radius: 5px;
}

.active, .accordion:hover {
    background-color: #d6d6d6;
}

.panel {
    padding: 0 0 0 28px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

.btn.btn-secondary.status-btn-active {
  background-color: #4a5056;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*Login and Register pages*/
/*.login-btn, .register-btn{
  width: 98px !important;
}
*/
#mosquito-login-logo{
  height: 1.3em;
  margin-right: 7px;
}

#mosquito-text-brand{
  font-family: 'Black Ops One', cursive;
  color: #122752;
}

#login-title-area{
  background-color: #122752;
}

#login-title-area h3{
  color: white;
  font-family: 'Oswald', sans-serif;
}

#submit, #registration{
  padding: 6px 25px;
  margin: 15px;
  letter-spacing: .8px;
   font-weight: bold;
}

#registration{
  background-color: #9C3436;
  color: #EBD89E;
  padding: 6px 21px;
}

#submit{
  background-color: #30A98D;
  border-color: #30A98D;
  color: white;
}
/*Header*/

.nav-icons{
  padding-left: 3em;
  padding-right: 1em;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  font-size: 1.1em;
}

#main-custom-navbar{
  background-color: #122752 !important;
}

.navbar .navbar-nav > li > a {
    color: #0DFFD2;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
}

ul.nav.navbar-nav li a:link {
    line-height: 100%;
    color: red; 
}

#my-work-link, #my-projects-link, #all-projects-link{
  margin-right: 10px;
}

/* active link*/
.navbar-dark .navbar-nav .nav-link.active{
  background-color: #122752;
  padding-bottom: 3px;
  color: #EBD89E/*#bbbcbf*/;
  border-bottom: 3px solid #EBD89E;
}

#mosquito-logo{
  height: 2em;
}

/*change font in navbar-brand*/
.navbar-brand{
  font-family: 'Black Ops One', cursive;
}


/*Add project and task buttons*/
.add-task-btn, .ditails-btn{
  width: 115px !important;
  font-weight: bold;
  padding: 4px 9px;
  margin: 5px;
  letter-spacing: .8px;
  float: right;
}
.ditails-btn{
  background-color: #30A98D;
  color: white;
}
.add-task-btn{
  background-color: #9C3436;
  color: #EBD89E;
}

#add-project{
  margin-top: 7px;
  background-color: #9C3436;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
}

#status-work-btn button{
  background-color: #122752 !important;
  color: white;
}

#status-work-btn button.status-btn-active{
  background-color: #1c3c7d !important;
  color: #EBD89E;
}

/* Modal */
.modal-header{
  background-color: #9C3436;
  color: white;
  font-weight: bold;
}

#add-task-submit, #add-project-submit{
  background-color: #30A98D;
}


/* Footer */
#main-footer{
  background-color: #122752;
  color: white;
  padding-top: 8px;
   font-size: .9em;
   position:absolute;
   bottom:0;
   width:100%;
   height:40px;   /* Height of the footer */
}

#main-footer p{
  text-align: center; 
  margin: auto;
  font-family:  'Black Ops One', cursive;
}

#mosquito-footer-logo{
  height: 1.3em;
}


/*
Details modal
*/
hr.hr-details{
  border-top: 3px double #8c8b8b;
}
hr.details-line{
  margin: 5px;
}

#projectDetailsModal p, #projectDetailsModal label{
  margin: 5px;
}

#details-main-btn{
  margin-top: 1em;
}

#cancel-add-log-work-btn, #add-logwork-submit-btn, #cancel-add-comment-btn, #add-comment-submit-btn,
#comments-btn, #add-comments-btn, #log-works-btn, #add-logwork-btn, #close-comment-list-btn{
  font-weight: bold;
  padding: 4px 9px;
  margin: 5px;
  letter-spacing: .8px;
}
 #add-logwork-submit-btn, #add-comment-submit-btn, #add-comments-btn, #add-logwork-btn{
  background-color: #30A98D;
  color: white;
}
#cancel-add-log-work-btn, #cancel-add-comment-btn, #comments-btn, #log-works-btn, #close-comment-list-btn{
  background-color: #9C3436;
  color: #EBD89E;
}

#comments-btn, #add-comments-btn, #log-works-btn, #add-logwork-btn{
  margin: 5px 1px;
}

.comment-body{
  margin: 8px 0;
  padding: 7px;
}

.speech-bubble {
  position: relative;
  background: #e5e5e5;
  border-radius: .4em;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-right-color: #e5e5e5;
  border-left: 0;
  margin-top: -9px;
  margin-left: -9px;
}


/*Circular progress bar*/
.progress {
  width: 48px;
  height: 48px;
  line-height: 48px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 7px solid #AD0014;
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left {
  left: 0;
}
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 7px;
  border-style: solid;
  position: absolute;
  top: 0;
  border-color: #2C9C21;
}
.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right {
  right: 0;
}
.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}
.progress .progress-value {
  display: flex;
  border-radius: 50%;
  font-size: 13px;
  text-align: center;
  line-height: 13px;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 300;
}
.progress .progress-value div {
  margin-top: 1px;
  margin-left: 13px;
  font-weight: bold;
}
.progress .progress-value span {
  font-size: 9px;
  text-transform: uppercase;
}

/* This for loop creates the  necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/
.progress[data-percentage="10"] .progress-right .progress-bar {
  animation: loading-1 0.5s linear forwards;
}
.progress[data-percentage="10"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="20"] .progress-right .progress-bar {
  animation: loading-2 0.5s linear forwards;
}
.progress[data-percentage="20"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="30"] .progress-right .progress-bar {
  animation: loading-3 0.5s linear forwards;
}
.progress[data-percentage="30"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="40"] .progress-right .progress-bar {
  animation: loading-4 0.5s linear forwards;
}
.progress[data-percentage="40"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="50"] .progress-right .progress-bar {
  animation: loading-5 0.5s linear forwards;
}
.progress[data-percentage="50"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="60"] .progress-right .progress-bar {
  animation: loading-5 0.5s linear forwards;
}
.progress[data-percentage="60"] .progress-left .progress-bar {
  animation: loading-1 0.5s linear forwards 1.5s;
}

.progress[data-percentage="70"] .progress-right .progress-bar {
  animation: loading-5 0.5s linear forwards;
}
.progress[data-percentage="70"] .progress-left .progress-bar {
  animation: loading-2 0.5s linear forwards 1.5s;
}

.progress[data-percentage="80"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="80"] .progress-left .progress-bar {
  animation: loading-3 0.5s linear forwards 1.5s;
}

.progress[data-percentage="90"] .progress-right .progress-bar {
  animation: loading-5 0.5s linear forwards;
}
.progress[data-percentage="90"] .progress-left .progress-bar {
  animation: loading-4 0.5s linear forwards 1.5s;
}

.progress[data-percentage="100"] .progress-right .progress-bar {
  animation: loading-5 0.5s linear forwards;
}
.progress[data-percentage="100"] .progress-left .progress-bar {
  animation: loading-5 0.5s linear forwards 1.5s;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(72);
    transform: rotate(72deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(108);
    transform: rotate(108deg);
  }
}
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg);
  }
}
@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg);
  }
}
.progress {
  margin-bottom: 1px;
}


